
@model IEnumerable<CourseDesign.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        Welcome To Message Board!
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Login", "Login")
        @Html.ActionLink("Register", "Create")
    </div>
</div>


